<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventVerse.Properties.Settings.EventVerseConnectionString"
            connectionString="Data Source=DESKTOP-425ALTB\SQLEXPRESS;Initial Catalog=EventVerse;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EventVerse.Properties.Settings.EventVerseConnectionString1"
            connectionString="Data Source=DESKTOP-J9BIC6A\SQLEXPRESS;Initial Catalog=EventVerse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>